* {
    color: var(--text);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
}

html {
    --title-size: 68px;
    --sub-title-size: 2em;
    background-color: var(--base00);
}

title {
    display: none;
}

footer {
    bottom: 90%;
}

h1 {
    font-size: var(--title-size);
}

h2 {
    font-size: var(--sub-title-size);
}

#top_bar {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

#light_dark_selectors,
#home_button_div {
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-wrap: wrap;
}

#light_mode_selector,
#dark_mode_selector,
#home_button {
    fill: var(--text);
    padding: 5px;
    border-radius: 25%;
    margin: 5px;
    background-color: var(--base01);
    transition-duration: 0.2s;
    transition: ease-in-out;
}

#light_mode_selector:hover,
#dark_mode_selector:hover,
#home_button:hover {
    background-color: var(--base02);
}

#top_title {
    margin: 0;
    flex-grow: 8;
}

#home_button {
    margin-right: 25px;
}

#home_button_div {
    justify-content: right;
}

#home_button_div,
#light_dark_selectors {
    flex-grow: 1;
    width: 15%;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

.button {
    display: block;
    justify-self: center;
    border-radius: 9999px;
    padding: 0.8em;
    background-color: var(--accent);
    opacity: 1;
    transition-duration: 0.3s;
    font-weight: 500;
    color: var(--inverted-text);
}

.button:hover {
    padding-left: 1.2em;
    padding-right: 1.2em;
    letter-spacing: 2px;
    font-weight: 700;
    background-color: var(--accent-hightlight);
}
.content_tiles {
    padding: 20px 10px 20px 10px;
    background-color: var(--base01);
    border-radius: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    width: min-content;
    justify-self: center;
}

.tile {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: var(--base02);
    padding: 15px;
    width: 200px;
    transition: ease-in-out 0.25s;
    margin-right: 12px;
    margin-left: 12px;
}
.tile * {
    display: flex;
    flex-direction: column;
}

.tile:hover {
    transform: translateY(-10px);
    scale: 1.05;
    box-shadow: 0px 15px 50px var(--shadow);
}

.tile_sub_title {
    font-weight: 500;
    margin: 0px;
    margin-top: 1em;
    font-size: x-large;
}

img {
    border-radius: 15px;
}
#centered_div{
    transition: ease-in-out;
}
#centered_div:hover{
    animation: wobble 0.2s ease-in-out 0.1s infinite;
}
@keyframes wobble {
    25%{rotate:3deg;}
    75%{rotate:-3deg}
  }