{{ define "content" }}
    <div style="height: 500px; position: relative; border:3px solid var(--accent);padding-left: 200px;padding-right: 400px; ">
        <div style="padding: 100px; font-size: 50px; background-color: var(--accent); margin-top: 100px;">
<p style="margin-right: 500px;">div</p> 
        </div>
    </div>
    <p style="display: flex; flex-direction: row; justify-content: center; font-size: large;">
       Let me know if there are any problems via &nbsp <a href="https://en.wikipedia.org/wiki/IP_over_Avian_Carriers"><b style="color: var(--accent);">IPoAC</b></a>
    </p>
{{ end }}