{{ define "content" }}
<h2>My projects:</h2>
<div class="content_tiles">
    {{ range (where .Sections "projects") }}
    <div class="tile">
        {{ if .LinkURL.Valid }}
        <a href="{{ .LinkURL.String }}" {{ if hasPrefix .LinkURL.String "http" }}target="_blank"{{ end }}>
        {{ end }}
            {{ if .ImageLink.Valid }}
            <img src="{{ .ImageLink.String }}" alt="{{ .Title }}">
            {{ else }}
            <div style="display: flex; justify-content: center; height: 200px;">
                <div id="centered_div" style="align-self: center; background-color: var(--accent); width: 100px; border-radius: 5px; box-shadow: 0px 0px 40px var(--accent);">
                    <p style="color: var(--inverted-text);">text</p>
                </div>
            </div>
            {{ end }}
            <h3 class="tile_sub_title">{{ .Title }}</h3>
        {{ if .LinkURL.Valid }}</a>{{ end }}
        {{ if .Description.Valid }}<p>{{ .Description.String }}</p>{{ end }}
    </div>
    {{ end }}
</div>
<a class="button" href="projects">More projects</a>

<h2>Instruments:</h2>
<div class="content_tiles">
    {{ range (where .Sections "instruments") }}
    <div class="tile">
        {{ if .ImageLink.Valid }}<img src="{{ .ImageLink.String }}" alt="{{ .Title }}">{{ end }}
        <h3 class="tile_sub_title">{{ .Title }}</h3>
        {{ if .Description.Valid }}<p>{{ .Description.String }}</p>{{ end }}
    </div>
    {{ end }}
</div>
<a class="button" href="instruments">More instruments</a>

<h2>Music:</h2>
<div class="content_tiles">
    {{ range (where .Sections "music") }}
    <div class="tile">
        {{ if .LinkURL.Valid }}
        <a href="{{ .LinkURL.String }}" {{ if hasPrefix .LinkURL.String "http" }}target="_blank"{{ end }}>
        {{ end }}
            {{ if .ImageLink.Valid }}<img src="{{ .ImageLink.String }}" alt="{{ .Title }}">{{ end }}
            <h3 class="tile_sub_title">{{ .Title }}</h3>
        {{ if .LinkURL.Valid }}</a>{{ end }}
        {{ if .Description.Valid }}<p>{{ .Description.String }}</p>{{ end }}
    </div>
    {{ end }}
</div>
<a class="button" href="music">More music</a>

<h2>Vacations:</h2>
<div class="content_tiles">
    {{ range (where .Sections "vacations") }}
    <div class="tile">
        {{ if .ImageLink.Valid }}<img src="{{ .ImageLink.String }}" alt="{{ .Title }}">{{ end }}
        <h3 class="tile_sub_title">{{ .Title }}</h3>
        {{ if .Description.Valid }}<p>{{ .Description.String }}</p>{{ end }}
    </div>
    {{ end }}
</div>
<a class="button" href="vacations">More vacations</a>
{{ end }}