<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="top_bar">
            <h1 >Lukas' portfolio:</h1>
        </div>
    </header>
    <main>
<h2>My projects:</h2>
<h2>Guitar:</h2>
<h2>Music:</h2>
<h2>Vacations:</h2>
    </main>
    <footer>
<h2>Contact</h2>
    </footer>
</body>
<script src="js/main.js"></script>
</html>
